@tailwind base;
@tailwind components;
@tailwind utilities;


#navBar{
    z-index: 100001 !important;
}

@media(max-width: 767px){
    .btn{
        margin-right: 96px;
    }
}
@media(max-width: 426px){
    .btn{
        margin-right: 50px;
    }
}
@media(max-width: 380px){
    .btn{
        margin-right: 0px;
    }
}

#mainContainer{
    background-image: url('../assets/images/Independent-image/Home-Banner-BG.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
   
}

.link-active{
    border-bottom: 3px solid rgb(0, 84, 145);
    color: rgb(0, 84, 145);
}
