@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    width: 0.625rem;
}
::-webkit-scrollbar-track{
    background: #eeee;
}
::-webkit-scrollbar-thumb{
    background: rgb(103, 193, 103);
    border-radius: 20%;
    width: 100%;
} 

*{
    scroll-behavior: smooth;
}
#navBar{
    z-index: 100001 !important;
}
@media(max-width: 767px){
    .btn{
        display: none;
    }
}
@media(max-width: 426px){
    .btn{
        display: none;
    }
}
@media(max-width: 380px){
    .btn{
        display: none;
    }
}


.link-active{
    border-bottom: 3px solid rgb(0, 84, 145);
    color: rgb(0, 84, 145);
}
.utils-btn{
    padding: 4px 8px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 10px;
    border-radius: 3px;
}




#twitter{
    height: 1.6rem !important;
    width: 1.6rem !important;
}
#facebook{
    height: 1.6rem !important;
    width: 1.6rem !important; 
}
#github{
    height: 1.6rem !important;
    width: 1.6rem !important; 
}
#instagram{
    height: 1.6rem !important;
    width: 1.6rem !important;  
}
#linkdin{
    height: 1.6rem !important;
    width: 1.6rem !important; 
}

@media screen and (max-width: 340px) {
    .cardResponsiveBreakPoint{
        width: 170px;
    }
}


.globalImageAndIconAnimation{
    box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.1);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
@keyframes animate {
    0%, 100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    
}