@tailwind base;
@tailwind components;
@tailwind utilities;


#navBar{
    z-index: 100001 !important;
}

@media(max-width: 767px){
    .btn{
        margin-right: 96px;
    }
}
@media(max-width: 426px){
    .btn{
        margin-right: 50px;
    }
}
@media(max-width: 380px){
    .btn{
        margin-right: 0px;
    }
}

#mainContainer{
    background-image: url('../assets/images/gradient-background.jpeg');
    repeat: no-repeat;
    background-size: cover;
    width: 100%;
   
}